<!--<h1>Логин</h1>-->
<!--<div>-->
<!--  <p>-->
<!--    <label>nickname</label><br>-->
<!--    <input [(ngModel)]="userNickname" />-->
<!--  </p>-->
<!--  <p>-->
<!--    <label>password</label><br>-->
<!--    <input [(ngModel)]="userPassword" />-->
<!--  </p>-->
<!--  <button (click)="loginUser(userNickname, userPassword)">Войти</button>-->
<!--  <h3>{{message}}</h3>-->
<!--</div>-->
<h2>Страница авторизации</h2>
<div><br>
  <button (click)="redirectToKeyCloak()">Пройти авторизацию/регистрацию на keycloak</button>
</div>
